[Unit]
Description=Restart batman_adv_setup.service if no neighbors are found for an extended time
After=batman_adv_setup.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/batman_adv_healthcheck.bash
User=own_name

[Install]
WantedBy=multi-user.target
