[Unit]
Description=Monitor manager count in a docker swarm and promote/demote to maintain desired count

[Service]
Type=simple
Restart=no
RestartSec=5
ExecStart=/usr/local/bin/docker_leader.bash
Environment=HOME=/home/own_name

[Install]
WantedBy=multi-user.target
