[Unit]
Description=Collect iw station dump output
Wants=network-online.target
Requires=batman_adv_setup.service
After=network-online.target batman_adv_setup.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/local/bin/iw_dump.bash
User=own_name

[Install]
WantedBy=multi-user.target
