[Unit]
Description=Copy files from solarswarm_setup/rx/
Before=batman_adv_setup.service

[Service]
Type=simple
ExecStart=/usr/local/bin/rx_copy.bash
Restart=always
Environment=HOME=/home/own_name

[Install]
WantedBy=multi-user.target
