[Unit]
Description=Copy files from solarswarm_setup/rx/

[Service]
Type=simple
ExecStart=/usr/local/bin/rx_copy.bash
Restart=no
User=own_name

[Install]
WantedBy=multi-user.target
